* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  background: #20ACB8;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  box-sizing: border-box;
  position: relative;
  max-width: 1140px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.nav .container,.header-list,.footer-box,.footer-list,.box-wrapper {
  display: flex; 
  justify-content: space-between;       
  align-items: center;
}
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 5px 0;
  z-index: 100;
  opacity: 1;
  background: linear-gradient(90deg, rgb(16, 153, 121), rgb(44, 186, 234));
  box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.75);
}
.site-logo a {
  text-align: left;
  font-size: 2.2rem;
  padding-left: 0;
  margin-left: 0;
}
.nav .navbar {
  display: block;
}
.nav .active-list {
  display: block;
}
.nav .active-list li a {
  display: block;
  text-align: center;
  margin: 20px 0;
  width: 100%;
  font-size: 25px;
}
.nav .active-list li:hover {
background-color: #16848e;
}
.header-link {
  padding: 10px;
  font-size: 1.5rem;
}
.header-list {
  gap: 20px;
}
.header-list .header-link:last-child {
  padding-right: 0;
  margin-right: 0;
}

.menu {
  display: none;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
}
.burger-menu {
  width: 15px;
  height: 20px;
}
.line {
  display: block;
  width: 15px;
  height: 3px;
  margin-bottom: 2px;
  background: white;
}

.hero {
  padding: 100px 0;
}
.hero-title {
  font-size: 5rem;
  padding: 20px 0 50px 0;
  color: rgb(65, 61, 61);
}
.box-wrapper {
  flex-wrap: wrap;
  margin: auto;
  padding: 0 0 40px 0;
  gap: 20px;
}
.box {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.box:hover {
  transform: scale(1.1, 1.2);
  transition: all 0.5s ease;
}
.box .section-img {
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.main {
  padding: 0;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 350px;
}
.video-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
}
.video {
  width: 350px;
}
.video iframe {
  width: 100%;
  height: 300px;
}

.footer {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  background: linear-gradient(90deg, rgb(16, 153, 121), rgb(44, 186, 234));
  box-shadow: 0 -5px 25px 1px rgba(89, 84, 84, 0.341);
}

.footer-box {
  max-width: 1140px;
  width: 100%;
}
.footer-list {
  color: orange;
}
.footer-link {
  font-size: 30px;
  padding: 15px;
}
.btn-add {
  position:relative;
  right: -60px;
  font-size: 20px;
  font-weight: 550;
  padding: 8px 15px;
  color: white;
  outline: none;
  border: none;
  background-color: orange;
}
/* register page */

.register-title {
  text-align: center;
  padding: 0;
  font-size: 2rem;
  margin-bottom: 0;
}
.add-btn {
  display: none;
}

.form {
  box-sizing: border-box;
  display: none;
  text-align: center;
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px 0;
  margin: auto;
  background-color: grey;
  border-radius: 15px;
  transition: all 1.5s ease;
  transform:  translate(-60%, -70%);
  z-index: 250;
}


.form label {
  font-size: 1.5rem;
  padding-bottom: 5px;
  display: block;
  text-align: left;
  margin-left: 35px;
}
.form input {
  outline: none;
  height: 50px;
  width: 70%;
  height: 2.5rem;
  font-size: 24px;
  padding: 8px 20px 8px 50px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
}
.submit {
  background-color: orange;
  color: white;
  padding: 15px 25px;
  font-size: 24px;
  font-weight: 700;
  float: right;
  border: none;
  border-radius: 8px;
  transform: translateX(-65px);
}
.submit:active {
  transform: scale(0.95) translateX(-65px);
}
.cancel {
  background-color: blue;
  color: white;
  padding: 15px 25px;
  font-size: 24px;
  font-weight: 700;
  float: right;
  border: none;
  border-radius: 8px;
  position: absolute;
  bottom: 20px;
  right: 210px;
}
.cancel:active {
  transform: scale(0.95);
}

/* List page */
.list-title {
  font-size: 3rem;
}
table,th,td {
  padding: 5px 20px;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid grey;
}
.list-table {
  width: 100%;
  font-size: 1.25rem;
  margin-bottom: 90px;
}
.edit,.delete {
  color: white;
  padding: 5px 10px;
  margin: 7px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  border: none;
}
.edit:active, .delete:active, .btn-add:active {
  transform: scale(0.95);
}
.edit {
  background-color: rgb(53, 53, 250);
  background: rgb(60, 180, 60);
}
.delete {
  background: rgb(243, 45, 45);
}
/* Courses page */

.course-suptitle {
  text-align: center;
  margin-top: 100px;
  font-size: 5rem;
}
.courses {
  padding: 50px 0 150px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.course-box {
  border-radius: 10px;
  position: relative;
  width: 300px;
  border: 2px solid black;
  padding: 20px 20px 50px 20px;
  transition: all 0.3s linear;
}
.course-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}
.course-box:hover {
  transform: scale(1.04);
  transition: all 0.3s linear;
}
.our-location {
  padding-bottom: 120px;
}
.location-title {
   font-size: 3rem;
   margin-bottom: 50px;
}
.location-box  {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  align-items: flex-end;
}
.location {
  width: 650px;
  height: 350px;
}
.footer {
  bottom: 0;
}
.download-btn {
  position: absolute;
  color: black;
  border-radius: 5px;
  bottom: 10px;
  background-color: lime;
  padding: 5px 20px;

}
@media screen and (max-width:1140px) {
  .container {
    width: 90%;
  }
  .btn-add:active {
    transform: scale(0.55) ;
  }
  .box-wrapper{
    justify-content: center;
  }
  .list-table-wrapper {
    width:100%;
    overflow: scroll;
  }
}
@media screen and (max-width:850px) {
  .btn-add {
    position: absolute;
    right: 4px;
    top: 50px;
    transform: scale(0.8);  
  }
  .header-list {
    transform: scale(0.8);
  }
  .form {
    width: 90%;
    transform: translate(-50%, -50%);
  }
 .main {
  justify-content: center;
 }
}

@media screen and (max-width:600px) {
  .header-list{
    font-size: 28px;
    transform: scale(1);
  }
  .header-link {
    padding: 0;
  }
  .main {
    justify-content: center;
    padding-bottom: 320px;
  }
  .video{
    width: 100%;
  } 
  .video:last-child {
    padding-bottom: 150px;
  }
  .form {
    width: 90%;
  transform: translate(-50%, -50%);
  }
  .form input {
    width: 75%;
    padding: 3px 10px;
  }
  .form 
  .cancel, .submit {
    transform: scale(0.6);
  }
  .cancel {
    left: 20px;
  }
}
@media screen and (max-width:550px){
  body {
    width: 100vw;
  }
  .container {
    padding: 0 30px;
    width: 90%;
    margin: auto;
  }
  .menu {
    display: block;
  }
  .active-menu {
    top: 20px;
  }
  .btn-add  {
    display: none;
    top: 75px;
    right: -20px;
    transform: scale(0.6);
  }
 
  .add-btn {
    margin: auto;
    display: block;
    padding: 5px 20px;
    text-align: center;
    background: orange;
    color: #444;
    width: 90%;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
  }
  .add-btn:active {
    transform: scale(0.95);
  }
 
  .site-logo a {
    font-size: 1.2rem;
  }
  .header-list {
    display: none;
  }
  .header-link {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.1rem;
  }
  .hero-title {
    padding: 120px 0 30px 0;
    font-size:2.7rem;
  }
  .box-wrapper {
    width: 100%;
  }
  .box {
    width: 250px;
  }
  .hero-text {
    font-size: 14px;
  }
  .list-table {
    margin-bottom: 150px;
  }
  .cancel {
    right: 100px;
  }
  .footer-text {
    font-size: 14px;
  }
  .fa-brands {
    font-size: 20px;
  }
  .footer {
    width: 100vw;
  }
  .footer-link {
    z-index: 500;
    padding: 10px;
  }
}
@media screen and (max-width:450px){
  .footer-box {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }
  .btn-add {
    display: none;
    top: 80px;
    right: -30px;
    transform: scale(0.5);
  }
}